<div class="container d-none d-md-block">
  <div class="float-left">
    <ul class="list-unstyled text-left my-auto">
      <li>&copy;&nbsp;<script>document.write((new Date()).getFullYear())</script>&nbsp;<a href="https://volgactf.ru/en/" target="_blank" rel="noopener">VolgaCTF</a></li>
      <li>Proudly made by <a href="https://aspyatkin.com" target="_blank" rel="noopener">Alexander Pyatkin</a> and contributors</li>
    </ul>
  </div>
  <div class="float-right my-auto">
    <!-- Extra links -->
    <ul class="list-unstyled text-right">
      <li><a href="https://twitter.com/VolgaCTF" target="_blank" rel="noopener">@VolgaCTF</a></li>
    </ul>
  </div>
</div>
<div class="container d-md-none text-center">
  <p>&copy;&nbsp;<script>document.write((new Date()).getFullYear())</script>&nbsp;<a href="https://volgactf.ru/en/" target="_blank" rel="noopener">VolgaCTF</a></p>
</div>
